/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root{
    /* Colors */
    --nav-color: rgb(10, 10, 10);
}


/*  NAVEGACIÓN */

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--nav-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header de la navegación */
.nav-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-img{
    width: 35%;
    padding: 1em;
}
.nav-description{
    color:white;
    text-transform: uppercase;
    text-align: center;
}

/* Menú de la navegación */
.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-menu li{
    list-style: none;
    padding: 0.6em;
}
.nav-menu a:hover, li:hover{
    border-radius: 10px;
    background-color: rgb(12, 12, 12);
    color: rgb(2, 133, 194);
}
.nav-menu a{
    text-decoration: none;
    font-size: 1.4em;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.nav-menu i{ 
    padding-right: 0.5em;
}
   
/* Medio social de la navegación */
.nav-social{
    display: flex;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(12, 12, 12);
    padding: 1em 0;
}
.nav-social a{
    font-size: 1.9em;
    color: white;
}
.nav-social a:hover{
    color: rgb(2, 133, 194);
    box-shadow: none;
}


/* CONTENEDOR PRINCIPAL */

.container{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    background-color: gray;
}
.vector-bottom,
.vector-top {
    position: absolute;
    width: 16.5em;
}
.vector-top {
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
.vector-bottom {
    bottom: 0;
    left: 0;
}


/* SOBRE MI */

.content-sm{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.information-sm{
    padding: 0em 2em 0em 4em;
    color: rgb(54, 54, 54);
    font-size: 1.2em;
    font-family: 'Poppins';
    line-height: 1.3em;
}
.information-sm > h2 {
    padding: 9.6px;
}
.avatar-sm img{
    width: 20em;
    padding: 0em 4em 0em 2em;
    border-radius: 50%;
    box-shadow: rgb(10, 10, 10);
}


/* HABILIDADES */

.content-h{
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.content-h > header > h2{
    font-family: 'Poppins';
    color: rgb(54, 54, 54);
    font-size: 2em;
    padding: 1em;
}
.abilities-h{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-h{
    width: 17em;
    height: 23em;
    margin: 2em;
}
.card-header-h{
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(206, 206, 206);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header-h > img{
    width: 12em;
}
.card-body-h{
    width: 100%;
    height: 30%;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(24, 24, 24);
    font-family: 'Poppins';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-body-h > h3, p{
    padding: 0.5em;
}


/* PROYECTOS */

.content-p{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Poppins';
    padding: 0em 0em 8em 0em;
}
.content-p > header{
    text-align: center;
    padding: 1em;
}
.content-p > header > h2{
    padding: 8px;
    color: rgb(54, 54, 54);
}
.projects-p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-p{
    width: 25em;
    height: 23em;
    margin: 2em;
}
.card-header-p{
    width: 100%;
    height: 65%;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(206, 206, 206);
}
.card-body-p{
    width: 100%;
    height: 35%;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0em 1em 0em;
}
.card-body-p > p{
    padding: 1em;
    text-align: center;
}
.card-body-p > a{
    text-decoration: none;
    font-weight: bold;
    padding: 0.7em;
    border-radius: 20px;
    background-color: rgb(214, 214, 214);
    color:rgb(2, 133, 194);
}
.card-body-p > a:hover{
    background-color: rgb(2, 133, 194);
    color: rgb(214, 214, 214);
}


/* CONTACTO */

.content-c{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
}
.content-c > header{
    color: rgb(54, 54, 54);
    font-size: 2em;
    padding: 1em;
    text-align: center;
}
.data-c{
    margin: auto;
    width: 40%;
}
.data-c > form{
    display: flex;
    flex-direction: column;
}
.data-c label{
    font-weight: bold;
    padding: 0.5em 0em;
    color: rgb(54, 54, 54);
}
.data-c input, textarea{
    border-radius: 5px;
    border: none;
    padding: 0.8em;
    background-color: rgb(206, 206, 206);
    resize: none;
}
.data-c button{
    margin: 1em 0em;
    padding: 1em 0em;
    background-color: rgb(24, 24, 24);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.data-c button:hover{
    background-color: rgb(2, 133, 194);
    color: rgb(214, 214, 214);
}
