/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Temporal */
.description{
    padding: 0;
    margin: 0;
}
.img-adjust{
    width: 100%;
    height: 100%;
}

/*  NAVEGACIÓN */

/* Mini navegación */
.nav-menu-mini{
    display: none;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 19%;
    height: 100vh;
    font-family: 'Poppins',
    sans-serif;
    text-transform: uppercase;
    color:white;
    background-color: rgb(10, 10, 10);
}
.nav, .nav-header, .nav-menu{
    display: flex;
    flex-direction: column;
}

/* Header de la navegación */
.nav-header{
    align-items: center;
}
.nav-img{
    width: 35%;
    padding: 1em;
}
/* Menú de la navegación */
.nav-menu a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 2vw;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px;
    padding: 0.2em 0em;
}
.nav-menu a:hover{
    color: rgb(2, 133, 194);
}
.nav-menu a:focus{
    color: rgb(2, 133, 194);
}
.nav-menu i{ 
    padding-right: 0.5em;
}
   
/* Medio social de la navegación */
.nav-social{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em 0em;
    background-color: rgb(12, 12, 12);
}
.nav-social a{
    font-size: 1.9em;
    color: white;
}
.nav-social a:hover{
    color: rgb(2, 133, 194);
}

/* CONTENEDOR PRINCIPAL */

.container{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
}
.vector-bottom,
.vector-top {
    position: absolute;
    width: 16.5em;
}
.vector-top {
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
.vector-bottom {
    bottom: 0;
    left: 0;
}


/* SOBRE MI */

.content-sm{
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.content-sm, .information-sm{
    display: flex;
    align-items: center;
    justify-content: center;
}
.information-sm{
    flex-direction: column;
    color: rgb(54, 54, 54);
    font-size: 1.2em;
    font-family: 'Poppins';
    line-height: 1.3em;
    padding: 0em 2em 0em 4em;
    text-align: justify;
}
.information-sm > h2 {
    text-align: center;
}
.avatar-sm img{
    width: 20em;
    padding: 0em 4em 0em 2em;
    border-radius: 50%;
    box-shadow: rgb(10, 10, 10);
}

/* HABILIDADES */

.content-h{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
    padding: 0em 0em 8em 0em;
    background-color: rgb(255, 255, 255);
}
.content-h > header{
    text-align: center;
    font-size: 1.2em;
    color: rgb(54, 54, 54);
    padding: 1em;
}
.content-h > header > h2{
    padding: 1em;
    color: rgb(54, 54, 54);
}
.abilities-h{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-h{
    width: 17em;
    height: 23em;
    margin: 2em;
}
.card-header-h{
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(206, 206, 206);
}
.card-header-h > img{
    width: 12em;
}
.card-header-h, .card-body-h{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body-h{
    width: 100%;
    height: 30%;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    color: white;
    background-color: rgb(24, 24, 24);
}
.card-body-h > h3, p{
    padding: 0.5em;
}


/* PROYECTOS */

.content-p{
    flex-direction: column;
    overflow: hidden;
    font-family: 'Poppins';
    padding: 0em 0em 8em 0em;
    background-color: rgb(255, 255, 255);
}
.content-p, .projects-p, .card-body-p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-p > header{
    text-align: center;
    font-size: 1.2em;
    color: rgb(54, 54, 54);
    padding: 1em;
}
.content-p > header > h2{
    padding: 1em;
    color: rgb(54, 54, 54);
}
.content-p > header > p{
    text-align: justify;
}
.projects-p{
    flex-wrap: wrap;
}
.card-p{
    width: 25em;
    height: 23em;
    margin: 2em;
}
.card-header-p{
    width: 100%;
    height: 65%;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(206, 206, 206);
    overflow: hidden;
}
.card-body-p{
    width: 100%;
    height: 35%;
    flex-direction: column;
    font-size: 0.8em;
    color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 1em 0em 1em 0em;
    background-color: rgb(24, 24, 24);
}
.card-body-p > p{
    padding: 1em;
    text-align: center;
}
.card-body-p > a{
    text-decoration: none;
    font-weight: bold;
    padding: 0.7em;
    border-radius: 20px;
    color:rgb(2, 133, 194);
    background-color: rgb(214, 214, 214);
}
.card-body-p > a:hover{
    color: rgb(214, 214, 214);
    background-color: rgb(2, 133, 194);
}


/* CONTACTO */

.content-c{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';
    background-color: rgb(255, 255, 255);
}
.content-c, .data-c > form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content-c > header{
    font-size: 1.2em;
    text-align: center;
    color: rgb(54, 54, 54);
    padding: 1em;
}
.content-c > header > h2{
    padding: 1em;
}
.data-c{
    width: 50%;
    margin: auto;
}
.data-c label{
    font-weight: bold;
    color: rgb(54, 54, 54);
    padding: 0.5em 0em;
}
.data-c input, textarea{
    border-radius: 5px;
    border: none;
    padding: 0.8em;
    resize: none;
    background-color: rgb(206, 206, 206);
}
.data-c button{
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 1em 0em;
    padding: 1em 0em;
    background-color: rgb(24, 24, 24);
}
.data-c button:hover{
    color: rgb(214, 214, 214);
    background-color: rgb(2, 133, 194);
}


/* Responsive design */

@media (max-width: 1060px){

    /* Navegación */
    .nav{
        width: 20%;
    }
    .nav-header{
        width: 10em;
        font-size: 2vw;
    }
    .nav-menu a{
        font-size: 2vw;
    }

    /* Contenedor principal */
    .container{
        width: 80%;
    }
    .vector-bottom,
    .vector-top {
        position: absolute;
        width: 10em;
    }

    /* Sobre mí */
    .content-sm{
        flex-direction: column-reverse;
    }
    .information-sm{
        font-size: 1.1em;
        padding: 0em 2em;
        margin: 2em;
    }
    .avatar-sm img{
        padding: 2em 0em 0em 0em;
        width: 15em;
    }
}
